.chatbox_container {
  left: 300px;
  overflow: hidden;
  height: 100%;
  width: 50%;
}
.message_display {
  height: 80%;
  border: 2px solid black;
  overflow-y: scroll;
  margin: 2%;
}

.eachMsg p {
  margin: 2%;
}

.input_field, .input_field input, .input_field button{
  margin: 2%
}

.input_field input {
  width: 75%;
}
