
<div class="map_search">
  <!-- <div class="form-group">
    <h3>Find your gym by search bar</h3>
    <p>Includes all surround fitness centers</p>
    <p>(You can drag the center place marker and it'll redo search in the radius)</p>
    <label><b>Enter Address</b></label>
     <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" search>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapReady)="setMapData($event)">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>

      <ng-container *ngFor="let gym of nearbyGyms">
        <agm-marker [latitude]="gym.lat" [longitude]="gym.lng">
          <agm-info-window>
            <div class="info_window">
                <h5 class="mb-0"><a [routerLink]="['/main', 'gym', gym.place_id]">{{gym.name}}</a></h5><br>
                <ng-container *ngIf="self.default_gym != gym.place_id"><button (click)="setDefaultGym(gym.place_id)" class="btn btn-success mt-0">Set Default</button></ng-container>
                <p class="mt-2">{{gym.address}}</p>
            </div>
          </agm-info-window>
        </agm-marker>
      </ng-container>

  </agm-map> -->

  <label><b>Enter Address</b></label>
  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
</div>
