.msg_container, .msg_sidenav{
    height: 100%;
}
.users_list{
    width: 200px;
    overflow: hidden;
}
.users_list h1{
    margin: 2% 5%;
}

@media only screen and (max-width: 412px){
    .card {
        width: 95%;
        height: auto !important;
    }
    .card_info, .schedule_info{
        height: auto !important;
    }
}