@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.title_container{
    width: 100%;
    margin: 2%;
}

.card {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 2%
}
.card_info, .schedule_info {
    height: 75px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 1% auto;
}
.card_info button, .schedule_info button {
    margin-top: 5%;
}
.hoverDiv {
    height: 200px;
    width: 95%;
    margin: -80% 0 0 -6%;
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9); 
    border: 1px solid black;
    border-radius: 10px;

}


.card-div-container{
    text-align: center;
}
.card_info h5, .schedule_info h5{
    color: #673AB7;
}

.goals_info , .schedule_div{
    margin: 2%;
}
.schedule_div h5 {
    margin-top: 4%;
}
.schedule_div td {
    width: 13%;
}
.chat_button {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.chat_button:hover{
    background-color: #efefef;
}


@media only screen and (max-width: 401px){
    .card {
        width: 95%;
        height: auto !important;
    }
    .card_info, .schedule_info{
        height: auto !important;
    }
}