<div class="index_container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button style="outline: none;" (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="project_name">fitFriends</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidebar_container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav opened #sidebar [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/main', 'default']">Your Gym</a>
        <a mat-list-item [routerLink]="['/chat', 'chatbox']">Messages</a>
        <a mat-list-item [routerLink]="['/main', 'preferences']">Preferences</a>
        <a mat-list-item [routerLink]="['/main', 'edit_info']">Account Info</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>

