


.photo_container{
  margin-top: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo_container img, .photo_container button{
  margin: 1%;
}

.photo_container img {
  width: 150px;
  height: 150px;
}
.mat-form-field{
  display: block !important;
}
@media only screen and (max-width: 412px) {
  .photo_container {
    margin: 2% auto !important;
  }
}