
<div class="edit_info_container">
  <div class="photo_container">
    <span [hidden]="!self"><img class="avatarPic" class="d-block" [src]="self.imgUrl" alt="test"></span> 
    <button mat-raised-button color="accent" class="d-block" (click)="openDialog()">Update Photo</button>
  </div>

</div>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-icon>account_circle</mat-icon>
      </mat-expansion-panel-header>

      <mat-panel-description>
          Change Personal Info
      </mat-panel-description>
      <form class="mt-3" (submit)="changeInfo()">
        <mat-form-field>
            <input matInput placeholder="First Name" name="fname" [(ngModel)]="self.fname">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" name="lname" [(ngModel)]="self.lname">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Email" name="email" [(ngModel)]="self.email" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ngx-flash-messages></ngx-flash-messages>
          <button mat-raised-button type="submit" color="accent">Update Info</button>
      </form>
  

  
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Password
        </mat-panel-title>
        <mat-icon>lock</mat-icon>
      </mat-expansion-panel-header>

      <form (submit)="changePassword()">
        <ngx-flash-messages></ngx-flash-messages>
          <mat-form-field>
             <input matInput type="password" required name="old"  placeholder="Current Password" class="form-control" [(ngModel)]="old_pw">
         </mat-form-field>
          <mat-form-field>
             <input matInput required class="form-control" #password="ngModel" name="new" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" type="password" placeholder="New Password" [(ngModel)]=new_pw>
             <span *ngIf="(password.invalid && (password.dirty || password.touched))">
                <mat-error *ngIf="password.errors.required">New password is required</mat-error>
                <mat-error *ngIf="password.errors?.pattern">New password must be at least 8 characters and contain 1 letter, 1 number.</mat-error>
            </span>
         </mat-form-field>
          <mat-form-field>
             <input matInput required type="password" placeholder="Confirm New Password"  name="pw_confirm" [(ngModel)]="pw_confirm">
         </mat-form-field>
         <button mat-raised-button type="submit" color="accent">Update Password</button>
      </form>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>